/* Copyright 2013 - 2016 Patrick Ulbrich <zulu99@gmx.net>
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
* MA 02110-1301, USA.
*/

.mailnag-counter {
    background-color: rgba(70, 144, 217, 0.75);
    color: #ffffff;
    border-radius: 24px;
    font-size: 6pt;
    min-width: 14px;
    min-height: 14px;
    -mailnag-counter-overlap-x: -4px;
    -mailnag-counter-overlap-y: -2px;
}

.account-group-header {
	color: #8e8e80;
	font-size: medium;
	font-weight: bold;
}

.menu-item-box {
	background-color: #454c4c;
	padding:6px;
	border-radius: 4px;
	spacing: 12px;
	width: 24em;
}
.menu-item-box:hover,
.menu-item-box:focus {
	background-color: #5d6767;
}

.sender-label {
	font-size: medium;
	font-weight: bold;
}

.sender-date-box {
	spacing: 12px;
}

.subject-label {
	font-size: small;
}

.date-label {
	color: #8e8e80;
	font-size: small;
}

.avatar {
	border-radius: 4px;
	background-size:contain;
}

/* Based on "something" of gnome-shell.css */
.menu-item-more-box {
	font-size: small;
	font-style: italic;
	spacing: 12px;
}
.menu-item-more-box:ltr {
    padding: .4em 1.75em .4em 0em;
}
.menu-item-more-box:rtl {
    padding: .4em 0em .4em 1.75em;
}

.mark-as-read-button {
	color: #e6e6e6;
}
.mark-as-read-button:hover,
.mark-as-read-button:focus {
	color: white;
}
.mark-as-read-button:active {
	color: black;
}
